.grid {

  	width: 100vw;
  	height:100vh;

  	display: grid;
  	box-sizing: border-box;
  	color: white;

  	grid-template-columns: 1fr 1fr 1fr;
  	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

	.Top_bar_start{
			padding-top: 10px;
			display: flex;
			justify-content: space-between;
			background-color: black;
			font-family: helvetica bold;
			color: white;
			font-size: 30px;
	}
	.Menu {
		text-align: right;
		background-color: black;
		font-size: 50px;
		padding: 25px;
	}
}
